<section class='artwork'>
  <article id='row1'>
      <a><img class='sml-img' id='ink-cosmo' src='../images/artwork/ink-cosmos.jpg' alt='ink drawing of cosmo flowers'></a>
      <a><img class='sml-img' id='cp-cherries' src='../images/artwork/colored-pencil-cherries.jpg' alt='pencil colored drawing of cherries'></a>
      <a><img class='sml-img' id='ink-dahlia' src='../images/artwork/ink-dahlia.jpg' alt='ink drawing of a dahlia'></a>
  </article>

  <article id='row2'>
    <a><img class='sml-img' id='wc-vase' src='../images/artwork/watercolor-vase.jpg' alt='watercolor painting of a vase of flowers'></a>
    <a><img class='lrg-img' id='pencil-house' src='../images/artwork/pencil-house.jpg' alt='pencil drawing of a house'></a>
  </article>

  <article id='row3'>
    <a><img class='lrg-img' id='ink-stpaul' src='../images/artwork/ink-saint-paul.jpg' alt='ink drawing of St. Paul, MN'></a>
    <a><img class='sml-img' id='cp-anemone' src='../images/artwork/colored-pencil-anemone.jpg' alt='colored pencil drawing of an anemone'></a>
  </article>

  <article id='row4'>
    <a><img class='sml-img' id='wc-mini-dahlias' src='../images/artwork/watercolor-mini-dahlias.jpg' alt='watercolor painting of mini dahlias'></a>
    <a><img class='sml-img' id='wc-coneflowers' src='../images/artwork/watercolor-coneflowers.jpg' alt='watercolor painting of coneflowers'></a>
    <a><img class='sml-img' id='wc-monogram' src='../images/artwork/watercolor-monogram.jpg' alt='watercolor monogram'></a>
  </article>

  <article id='row5'>
    <a><img class='lrg-img' id='calligraphy-alpha' src='../images/artwork/calligraphy-alphabet.jpg' alt='alphabet in calligraphy'></a>
    <a><img class='sml-img' id='ink-dreamcatcher' src='../images/artwork/ink-dreamcatcher.jpg' alt='ink drawing of a dreamcatcher'></a>
  </article>

  <article id='row6'>
    <a><img class='sml-img' id='calligraphy-shower' src='../images/artwork/calligraphy-shower-invite.jpg' alt='ink drawing of a dreamcatcher'></a>
    <a><img class='lrg-img' id='wc-veggies' src='../images/artwork/watercolor-veggies.jpg' alt='alphabet in calligraphy'></a>
  </article>

  <article id='row7'>
    <a><img class='sml-img' id='wc-cosmo' src='../images/artwork/watercolor-cosmo.jpg' alt='ink drawing of a dreamcatcher'></a>
    <a><img class='sml-img' id='calligraphy-xmascard' src='../images/artwork/calligraphy-christmas-card.jpg' alt='alphabet in calligraphy'></a>
  </article>






</section>
