<section class='artwork'>
  <article>
    <div class='displayPhoto'>
      <a><img src='../images/thumbnails/artwork_drawings.jpg' alt='drawings'></a>
    </div>
  </article>

  <article>
    <div class='displayPhoto'>
      <a><img src='../images/thumbnails/artwork_botanicals.jpg' alt='drawings'></a>
    </div>
  </article>

  <article>
    <div class='displayPhoto'>
      <a><img src='../images/thumbnails/artwork_calligraphy.jpg' alt='drawings'></a>
    </div>
  </article>
<hgroup>
  <h2>DRAWINGS</h2>
  <h2>BOTANICALS</h2>
  <h2>CALLIGRAPHY</h2>
</hgroup>

</section>
