<section class='homePage'>
  <article>
    <img id='headshot' src="../../images/portrait/lindseyolson.jpg" alt="lindsey Olson"/>
    <p><span>Full-Stack Software Developer and Artist located in St. Paul.</span> </br>
    Self-motivated individual, with a passion for tech and art. Background in Graphic Design and Event Coordination. Currently looking for opportunities in software development.</p>
  </article>
  <article class='contact'>
    <a href='https://www.linkedin.com/in/lindsey-olson/'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/lindseyolson"><i class="fa fa-github"aria-hidden="true"></i></a>
    <a href="mailto:lindseyolson00@gmail.com?Subject=Hello"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  </article>
</section>
