<section class='webdev'>

  <!-- flora -->
    <article ng-show='pc.showFlora' class='project-description' id='flora-description'>
      <img class='project-photo' src='../../images/projects/flora/login_screen.png' alt='website mock up'>
      <img class='project-photo' src='../../images/projects/flora/garden_screen.png' alt='website mock up'>
      <img id='photo3' class='project-photo' src='../../images/projects/flora/search_screen.png' alt='website mock up'>
      <img class='project-photo' src='../../images/projects/flora/upload_photo.png' alt='website mock up'>
      <ul class='desc'>
        <li>Each year, I spent time searching the web trying to find perennial plant species I owned to ensure their proper
           exposure and care. The issue was that I could never guarantee I had found the exact species.</li>
        <li>Users of the app are allowed to register, login, search and add plant species to their account. Upon selection of a plant,
           the exposure and care autopopulates in the details. A notes section is available per plant added, leaving room for
           jotting notes throughout the season, allowing extra attention for the plants that need it.</li>
        <li>Technologies used: MEAN Stack (MongoDB, Express.js, AngularJS, Node.js), JavaScript, Bootstrap, HTML5, CSS3,
           Angular-Xeditable, Angucomplete Alt, Filestack and Heroku.</li>
        <li><a href='https://flora-garden-app.herokuapp.com/'>Check out the app on Heroku.</a></li>
        <li><a href='https://github.com/lindseyolson/flora.git'>Check out the code on GitHub.</a></li>
      </ul>
      <p class='logo'>flora</p>
    </article>

<!-- portfolio -->
  <article ng-show='pc.showPortfolio' class='project-description' id='portfolio-description'>
    <img class='project-photo' src='../../images/projects/lindseyolson/portfolio-1.png' alt='website mock up in cell phone'>
    <ul class='desc'>
      <li>I created my responsive portfolio site with the following technologies: HTML5, CSS3, Angular, JavaScript, jQuery, Gulp.js, Sass and Neat Grid 2.0.</li>
      <li>Please click around to check it out and please let me know if you have any questions.</li>
      <li><a href='https://github.com/lindseyolson/portfolio.git'>Check out the code on GitHub.</a></li>
    </ul>
  </article>

<!-- praeco -->
  <article ng-show='pc.showPraeco' class='project-description' id='praeco-description'>
    <img id='praeco-1' class='project-photo' src='../../images/projects/praeco/login-screen.png' alt='website mock up'>
    <img id='praeco-2' class='project-photo' src='../../images/projects/praeco/device-screen.png' alt='website mock up'>
    <img id='praeco-3' class='project-photo' src='../../images/projects/praeco/editprofile-screen.png' alt='website mock up'>
    <img id='praeco-4' class='project-photo' src='../../images/projects/praeco/contact-screen.png' alt='website mock up'>
    <ul class='desc'>
      <li>Lab 651 is a technology company that specializes in building devices for the Internet of Things.</li>
      <li>Collaborating with three others, our team created an application to act as a Content Management System for
         users of devices created by Lab 651. This app will allow the admin and users to login, facilitate communication with
         contacts associated with each device, and alter the status and threshold of the device.</li>
      <li>My focus on this project has been building the API, working with Particle.io, Nodemailer and Twilio API’s, structuring the database, incorporating passport, setting up register/login, and creating scrum boards.</li>
      <li>Technologies used: MEAN Stack (MongoDB, Express.js, AngularJS, Node.js), Particle API, JavaScript, Passport,
         Bootstrap, HTML5, CSS3, Sass, Gulp.js, Angular-Xeditable, Heroku, Nodemailer, Twilio and SweetAlerts.</li>
      <li><a href="https://tech.mn/news/2017/06/09/st-paul-based-lab651-keystone-automation-for-joint-iot-venture/">St. Paul-Based Lab651 & Keystone Automation Form Joint IoT Venture</a></li>
      <li><a href="http://lab651.com/">Lab 651</a></li>
    </ul>
  </article>

  <!-- gallery -->
    <article ng-show='pc.showGallery' class='project-description' id='gallery-description'>
      <img id='gallery-2' class='project-photo' src='../../images/projects/gallery/gallery-1.jpg' alt='website mock up'>
      <ul class='desc'>
        <li>A gallery of photos from my life, to practice Angular and $http calls to the server. Users can click on photo to see description,
        leave a comment and like photos.</li>
        <li>Technology used: HTML, CSS, JavaScript, Angular, AJAX, Node.js, Express and Heroku</li>
        <li><a href='https://github.com/lindseyolson/life-gallery.git'>Check out the code on GitHub.</a></li>
        <li><a href='https://lindsey-weekend-4-challenge.herokuapp.com/'>Check out the app on Heroku.</a></li>
      </ul>
    </article>

<!-- to do -->
  <article ng-show='pc.showTodo' class='project-description' id='todo-list-description'>
    <img class='project-photo' src='../../images/projects/todo-list/todo-1.jpg' alt='website mock up'>
    <ul class='desc'>
      <li>Full-stack To Do list application. The app allows the user to create a task, complete a task & delete a task.</li>
      <li>Technology used: HTML5, CSSe, JavaScript, jQuery, AJAX, Node.js, Express &  SQL.</li>
      <li><a href='https://github.com/lindseyolson/to-do-app.git'>Check out the code on GitHub.</a></li>

    </ul>
  </article>

<!-- blocks -->
  <article ng-show='pc.showBlocks' class='project-description' id='blocks-description'>
    <img class='project-photo' src='../../images/projects/blocks/blocks-1.jpg' alt='website mock up'>
    <ul class='desc'>
      <li>Early jQuery practice. Click button to create a new square box. Each box loads as a new random color. On click of each box will turn that box black.</li>
      <li><a href='https://github.com/lindseyolson/jQuery-blocks.git'>Check out the code on GitHub.</a></li>

    </ul>
  </article>





<!-- thumbnails -->
  <article>
    <img ng-click='pc.showProject("floraTN")' class='project-thumbnails' id='floraTN' src='../../images/projects/flora/flora-cover.png' alt='screen shot of flora website'>
  </article>

  <article>
    <img ng-click='pc.showProject("portfolioTN")' class='project-thumbnails' id='portfolioTN' src='../../images/projects/lindseyolson/lindseyolson-cover.png' alt='screen shot of portfolio website'>
  </article>

  <article>
    <img ng-click='pc.showProject("praecoTN")' class='project-thumbnails' id='praecoTN' src='../../images/projects/praeco/praeco-cover.png' alt='screen shot of praeco website'>
  </article>

  <article>
    <img ng-click='pc.showProject("galleryTN")' class='project-thumbnails' id='galleryTN' src='../../images/projects/gallery/gallery-cover.png' alt='screen shot of lindseys gallery'>
  </article>

  <article>
    <img ng-click='pc.showProject("todo-listTN")' class='project-thumbnails' id='todo-listTN' src='../../images/projects/todo-list/todo-cover.png' alt='screen shot of to do list app'>
  </article>

  <article>
    <img ng-click='pc.showProject("blocksTN")' class='project-thumbnails' id='blocksTN' src='../../images/projects/blocks/blocks-cover.png' alt='screen shot of blocks app game'>
  </article>



</section>



<!-- <ul class='project-list'>
  <li class='col-md-6' ng-repeat='project in ppc.projects | orderBy: "-created_at"'>
  <a ng-href='{{ project.html_url }}'>{{ project.name }}</a> </br>
  Created: {{ project.created_at | date }} </br>
  Description: {{ project.decription }}
  </li>
</ul> -->
