.artwork {
  @include grid-container;
  // @include grid-visual(yellow, $neat-grid);

  .sml-img {
    @include grid-media($neat-grid) {
      border: 1px solid #c6c6c6;
      @include grid-column(1);
    }
    @include grid-media($tablet) {
      border: 1px solid #c6c6c6;
      @include grid-column(1);
    }
    @include grid-media($mobile) {
      border-bottom: 1px solid #c6c6c6;
      @include grid-column(1);
    }
  }

  .lrg-img {
    @include grid-media($neat-grid) {
      border: 1px solid #c6c6c6;
      @include grid-column(2);
    }
    @include grid-media($tablet) {
      border: 1px solid #c6c6c6;
      @include grid-column(2);
    }
    @include grid-media($mobile) {
      border-bottom: 1px solid #c6c6c6;
      @include grid-column(1);
    }
  }

  #ink-cosmo {
    @include grid-media($neat-grid) {
      @include grid-container;
      @include grid-push(0.5);
    }
    @include grid-media($tablet) {
      @include grid-push(0.25);
    }
    @include grid-media($mobile) {
      border-top: 1px solid #c6c6c6;
    }

  }

  #cp-cherries {
  }

  #ink-dahlia {
    @include grid-media($tablet) {
      @include grid-shift(-1.01);
      margin-top: 18.2%;
    }
  }

  #wc-vase {
    @include grid-media($neat-grid) {
      @include grid-container;
      @include grid-shift(-1.01);
      margin-top: 11.7%;
      padding-top: 0.5%;
      padding-bottom: 0.25%;
    }
    @include grid-media($tablet) {
      @include grid-shift(1);
      @include grid-push(0.255);
      padding-top: 1.5%;
      padding-bottom: 2.75%;
      margin-top: -55.8%;
    }
  }

  #pencil-house {
    @include grid-media($neat-grid) {
      @include grid-shift(1);
      @include grid-push(0.51);
      margin-top: -43.3%;
      // padding-top: -5%;
      // padding-bottom: 0.15%;
    }
    @include grid-media($tablet) {
      @include grid-push(0.25);
      margin-top: 1%;
    }
  }

  #ink-stpaul {
    @include grid-media($neat-grid) {
      @include grid-container;
      @include grid-push(0.5);
      margin-top: 1%;
    }
    @include grid-media($tablet) {
      @include grid-push(0.25);
      margin-top: 1%;
    }
  }

  #cp-anemone {
    @include grid-media($neat-grid) {
      margin-top: 1%;
    }
    @include grid-media($tablet) {
      @include grid-push(0.25);
      margin-top: 1%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }

  #wc-mini-dahlias {
    @include grid-media($neat-grid) {
      @include grid-container;
      margin-top: -8.4%;
      @include grid-push(0.5);
    }
    @include grid-media($tablet) {
      margin-top: 1%;
    }
  }

  #wc-coneflowers {
    @include grid-media($neat-grid) {
      margin-top: -8.4%;
    }
    @include grid-media($tablet) {
      @include grid-shift(-1.01);
      margin-top: 32.5%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }

  #wc-monogram {
    @include grid-media($neat-grid) {
      margin-top: 1%;
    }
    @include grid-media($tablet) {
      @include grid-shift(1.25);
      margin-top: -94.5%;
      margin-left: 1.2%;
    }
  }

  #ink-dreamcatcher {
    @include grid-media($neat-grid) {
      @include grid-container;
      margin-top: 1%;
      // padding-bottom: 0.25%;
    }
    @include grid-media($tablet) {
      @include grid-push(0.25);
      @include grid-shift(1);
      margin-top: -110.8%;
      padding-bottom: 0.4%;
      margin-left: 11%;
    }
  }

  #calligraphy-alpha {
    @include grid-media($neat-grid) {
      @include grid-push(0.5);
      margin-top: 1%;
    }
    @include grid-media($tablet) {
      @include grid-push(0.25);
      margin-top: 1%;
    }
  }

  #calligraphy-shower {
    @include grid-media($neat-grid) {
      @include grid-container;
      @include grid-push(-3);
      margin-top: 35.75%;
    }
    @include grid-media($tablet) {
      @include grid-push(2);
      @include grid-shift(1);
      margin-top: 20%;
      margin-left: -80%;
    }
  }

  #wc-veggies {
    @include grid-media($neat-grid) {
      margin-top: 1%;
    }
    @include grid-media($tablet) {
      @include grid-push(0.25);
      // @include grid-shift(1);
      margin-top: 1%;
    }
  }

  #wc-cosmo {
    @include grid-media($neat-grid) {
      @include grid-container;
      margin-top: 1%;
    }
    @include grid-media($tablet) {
      @include grid-push(0.25);
      // @include grid-shift(1);
      margin-top: 1%;
    }
  }

  #calligraphy-xmascard {
    @include grid-media($neat-grid) {
      margin-top: 1%;
    }
    @include grid-media($tablet) {
      margin-top: 1%;

    }
  }
}
