$primary-font: 'Montserrat', sans-serif;
// $secondary-font:

// **font-family: 'Quattrocento Sans', sans-serif;
// font-family: 'Quattrocento', serif;
// font-family: 'Libre Baskerville', serif;
// 'EB Garamond', serif;
// 'Palanquin', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

//** font-family: 'Raleway', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Varela', sans-serif;

// **font-family: 'Anonymous Pro', monospace;
// font-family: 'Cutive Mono', monospace;
// **font-family: 'Work Sans', sans-serif;

// font-family: 'Montserrat', sans-serif;


// smart phones
$neat-grid: (
  columns: 1,
  gutter: 10px,
);

// tablets
$neat-grid-tablet-up: (
  columns: 2,
  gutter: 20px,
  media: "(min-width: 768px)",
);

// laptops & desktops
$neat-grid-laptop-up: (
  columns: 3,
  gutter: 15px,
  media: "(min-width: 1224px)",
);
