$primary-font: 'Montserrat', sans-serif;
// $secondary-font:

// **font-family: 'Quattrocento Sans', sans-serif;
// font-family: 'Quattrocento', serif;
// font-family: 'Libre Baskerville', serif;
// 'EB Garamond', serif;
// 'Palanquin', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

//** font-family: 'Raleway', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Varela', sans-serif;

// **font-family: 'Anonymous Pro', monospace;
// font-family: 'Cutive Mono', monospace;
// **font-family: 'Work Sans', sans-serif;

// font-family: 'Montserrat', sans-serif;

// mobile
$neat-grid: (
  columns: 1,
  gutter: 10px,
  // media: 'only screen and (max-width: 699px)'
);

// tablet
$tablet: (
  columns: 2.5,
  gutter: 10px,
  media: 'only screen and (min-width: 700px) and (max-width: 999px)'
);

// laptops & desktops
$medium: (
  columns: 4,
  gutter: 15px,
  media: 'only screen and (min-width: 1000px)'
);
