$primary-font: 'Quattrocento Sans', sans-serif;
// 'Montserrat', sans-serif;


// medium screens
$neat-grid: (
  columns: 4,
  gutter: 15px,
  media: 'only screen and (min-width: 1000px)'
);

// tablet
$tablet: (
  columns: 2.5,
  gutter: 10px,
  media: 'only screen and (min-width: 600px) and (max-width: 999px)'
);

// mobile
$mobile: (
  columns: 1,
  gutter: 10px,
  media: 'only screen and (max-width: 599.9px)'
);
