#homePage {
  @include grid-container;
  #intro {
    @include grid-column(8);
    @include grid-shift(2);
    margin-top: 3em;
    font-family: $primary-font;
    font-size: 48px;
    text-align: center;
    @include grid-media($mobile) {
      @include grid-column(1);

      }
    }
}
