.grid-container {
  @include grid-container;
}

  header {
    @include grid-column(1);
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 200;
    @include grid-media($neat-grid-tablet-up) {
      @include grid-column(3);
      @include grid-push(0.75);
    }
  }

  nav {
    font-size: 16px;
    font-family: $primary-font;
    margin-top: 3em;
    color: black;
    font-weight: 200;
    overflow: hidden;

    #webdevLink {
      @include grid-column(2);
      @include grid-push(3.5);

    }
    #artworkLink {
      @include grid-column(1.25);
    }
    #aboutLink {
      @include grid-column(1);
    }
    a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    a:link {
      color: #626263;
    }
    a:visited {
      color: #626263;
    }
    a:hover {
      color: gray;
    }
    a:active {
      color: white;
    }
    .icon {
        display: none;
    }
  }
