.grid-container {
  @include grid-container;
  @include grid-visual(yellow, $neat-grid-laptop-up);
}

header {
  img {
    @include grid-column(1);
    @include grid-media($neat-grid-laptop-up) {
      @include grid-column(0.75);
    }
  }
}

  nav {
    font-size: 16px;
    font-family: $primary-font;
    margin-top: 3em;
    color: black;
    font-weight: 200;
    overflow: hidden;


    #webdevLink {
      @include grid-column(2);
      @include grid-media($neat-grid-laptop-up) {
        @include grid-column(0.25);
        @include grid-push(1.85);
      }

    }
    #artworkLink {
      @include grid-column(1.75);
      @include grid-media($neat-grid-laptop-up) {
        @include grid-column(0.25);
        // @include grid-push(0.75);
      }
    }
    #aboutLink {
      @include grid-column(1);
      @include grid-media($neat-grid-laptop-up) {
        @include grid-column(0.25);
        @include grid-push(0.10);
      }
    }
    a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    a:link {
      color: #626263;
    }
    a:visited {
      color: #626263;
    }
    a:hover {
      color: gray;
    }
    a:active {
      color: white;
    }
    .icon {
        display: none;
    }
  }
