.webdev {
  @include grid-container;
  // @include grid-visual(yellow, $neat-grid);
  a {
    text-decoration: none;
    color: gray;
  }

  a:hover {
    color: #dbdbdb;
  }

  .project-description {
    @include grid-container;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: $primary-font;
  }


    #flora-description {
      .project-photo {
        @include grid-media($neat-grid) {
          @include grid-column(0.75);
          @include grid-shift(0.5);
        }
        @include grid-media($tablet) {
          margin-top: 0.5%;
          @include grid-column(0.5);
          @include grid-shift(0.25);
        }
        @include grid-media($mobile) {
          @include grid-container;
          @include grid-column(0.5);
          // margin-bottom: 2
        }
      }
      #photo3 {
        @include grid-media($mobile) {
          @include grid-container;
          @include grid-column(0.5);
          @include grid-shift(-0.5);
        }
      }
      #photo4 {
        @include grid-media($mobile) {
          @include grid-column(0.5);
          @include grid-shift(0.5);
          margin-top: -92.5%;
        }
      }

      .desc {
        list-style: none;
        @include grid-container;

        @include grid-media($neat-grid) {
          @include grid-column(1.45);
          @include grid-shift(-1.82);
            padding-top: 2em;
        }
        @include grid-media($tablet) {
          @include grid-column(2);
          @include grid-push(0.15);
        }
        @include grid-media($mobile) {
          @include grid-column(1);
          @include grid-shift(-0.1);
        }
        li {
          padding-top: 15px;
        }
      }

      .logo {
        color: #49AB7A;
        font-family: 'Zilla Slab', serif;
        @include grid-media($neat-grid) {
          font-size: 60px;
          @include grid-column(1);
          @include grid-shift(2.60);
          margin-top: -16%;
        }
        @include grid-media($mobile) {
          @include grid-column(1);
          @include grid-shift(-1);
        }
      }
    }

    #portfolio-description {
      .project-photo {
        @include grid-media($neat-grid) {
          @include grid-column(0.75);
          @include grid-push(1);
        }
        @include grid-media($tablet) {
          @include grid-column(0.6);
          @include grid-push(0.5);
        }
        @include grid-media($mobile) {
          @include grid-column(0.6);
          @include grid-push(0.2);
        }
      }
      .desc {
        list-style: none;
        @include grid-container;

        @include grid-media($neat-grid) {
          @include grid-column(1);
          // @include grid-push(0.25);
          margin-top: 18%;;
        }
        @include grid-media($tablet) {
          @include grid-column(1);
          @include grid-push(-0.10);
          margin-top: 10%;
        }
        @include grid-media($mobile) {
          @include grid-column(1);
          @include grid-push(-0.10);

        }
        li {
          padding-top: 15px;
          // text-align: justify;
        }
      }
    }

    #praeco-description {
      .project-photo {
        @include grid-media($neat-grid) {
          @include grid-column(0.75);
          @include grid-shift(0.5);
        }
        @include grid-media($tablet) {
          margin-top: 0.5%;
          @include grid-column(0.5);
          @include grid-shift(0.25);
        }
        @include grid-media($mobile) {
          @include grid-container;
          @include grid-column(0.5);
          // margin-bottom: 2
        }
      }
      #praeco-3 {
        @include grid-media($mobile) {
          @include grid-container;
          @include grid-column(0.5);
          @include grid-shift(-0.5);
        }
      }
      #praeco-4 {
        @include grid-media($mobile) {
          @include grid-column(0.5);
          @include grid-shift(0.5);
          margin-top: -92.5%;
        }
      }

      .desc {
        list-style: none;
        @include grid-container;

        @include grid-media($neat-grid) {
          @include grid-column(1.45);
          @include grid-shift(0.42);
            padding-top: 2em;
        }
        @include grid-media($tablet) {
          @include grid-column(2);
          @include grid-push(0.15);
        }
        @include grid-media($mobile) {
          @include grid-column(1);
          @include grid-shift(-0.1);

        }
        li {
          padding-top: 15px;
          // text-align: justify;
        }
      }
    }

    #gallery-description {
      .project-photo {
        @include grid-media($neat-grid) {
          @include grid-column(0.75);
          @include grid-push(1);
        }
        @include grid-media($tablet) {
          @include grid-column(0.6);
          @include grid-push(0.5);
        }
        @include grid-media($mobile) {
          @include grid-column(0.6);
          @include grid-push(0.2);
        }
      }
      .desc {
        list-style: none;
        @include grid-container;

        @include grid-media($neat-grid) {
          @include grid-column(1);
          // @include grid-push(0.25);
          margin-top: 16%;;
        }
        @include grid-media($tablet) {
          @include grid-column(1);
          @include grid-push(-0.10);
        }
        @include grid-media($mobile) {
          @include grid-column(1);
          @include grid-push(-0.10);
        }
        li {
          padding-top: 15px;
          // text-align: justify;
        }
      }
    }

    #todo-list-description {
      .project-photo {
        border: 1px solid #c6c6c6;

        @include grid-media($neat-grid) {
          @include grid-column(1);
          @include grid-push(1);
        }
        @include grid-media($tablet) {
          @include grid-column(1);
          @include grid-push(0.25);
        }
        @include grid-media($mobile) {
          @include grid-column(1);
        }
      }
      .desc {
        list-style: none;
        @include grid-container;

        @include grid-media($neat-grid) {
          @include grid-column(0.85);
            margin-top: 3%;
        }
        @include grid-media($tablet) {
          @include grid-column(0.75);
          @include grid-push(-0.10);

        }
        @include grid-media($mobile) {
          @include grid-column(1);
          @include grid-push(-0.10);
        }
        li {
          padding-top: 15px;
          // text-align: justify;
        }
      }
    }

    #blocks-description {
      .project-photo {
        border: 1px solid #c6c6c6;

        @include grid-media($neat-grid) {
          @include grid-column(1);
          @include grid-push(1);
          // padding-top: 2em;
        }
        @include grid-media($tablet) {
          @include grid-column(1);
          @include grid-push(0.25);
        }
        @include grid-media($mobile) {
          @include grid-column(1);
          // @include grid-shift(1);
        }
      }
      .desc {
        list-style: none;
        @include grid-container;

        @include grid-media($neat-grid) {
          @include grid-column(0.85);
            margin-top: 9%;
        }
        @include grid-media($tablet) {
          @include grid-column(1);
          @include grid-push(-0.10);
        }
        @include grid-media($mobile) {
          @include grid-column(1);
          @include grid-push(-0.10);
        }
        li {
          padding-top: 15px;
          // text-align: justify;
        }
      }
    }















  .project-thumbnails {
    border: 1px solid #c6c6c6;
    margin-bottom: 1em;
    margin-top: 3%;

    @include grid-media($neat-grid) {
      @include grid-column(1);
    }
    @include grid-media($tablet) {
      @include grid-column(1);
      @include grid-shift(0.25);
    }
    @include grid-media($mobile) {
      @include grid-column(1);
      margin-top: 1em;
    }
  }

  .project-thumbnails:hover {
    opacity: 0.3;
  }

  #floraTN {
    @include grid-media($neat-grid) {
      @include grid-push(0.5);

      margin-top: 2em;
    }
  }

  #portfolioTN {
    @include grid-container;
    @include grid-media($neat-grid) {
      // @include grid-push(0.5);
      margin-top: 2em;
    }
  }

  #praecoTN {
    @include grid-media($neat-grid) {
      margin-top: 2em;
    }
  }

  #galleryTN {
    @include grid-media($neat-grid) {
      @include grid-container;
      @include grid-push(0.5);
    }
  }
}
