<!-- <img class='col-md-4' src="images/Lindsey Olson.jpg" alt="lindsey olson"> -->
<div class='about-me col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2'>
  <p class='intro'>Hello, my name is Lindsey. I am a Full Stack Software Developer located in St. Paul, MN.</p>
    bio: {{ pc.profile.bio }} </br>
    {{ pc.profile.location }} </br>
    <a href="mailto:lindseyolson00@gmail.com?subject=Hello">{{ pc.profile.email }}</a> </br>
    <a href='{{ pc.profile.html_url }}'>{{ pc.profile.html_url }}</a></br>
</div>
