$primary-font: 'EB Garamond', serif;

li {

  list-style: none;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.nav-tabs {
  display: inline-block;
}

.intro {
  font-family: $primary-font;
  font-size: 40px;
  margin-top: 3em;
  margin-bottom: 2em;
}

.navbar {
  background-color: #f7f7f7;
}

.container-fluid {
  margin-left: 6em;
}

.navbar-brand {
  font-size: 14px;
  font-family: 'Palanquin', sans-serif;
}

.about-me {
  font-family: 'Palanquin', sans-serif;
  font-size: 16px;
}

.project-list {
  margin-top: 6em;
}

img {
  height: 40em;
}

.projectSquare {
  height: 10em;
  width: 15em;
  background-color: #49AB7A;
  border-radius: 5px;
}

.projectSquare:hover {
  background-color: #4fc188;
}

#flora {
  font-family: 'Zilla Slab', serif;
  text-align: center;
  padding-top: 1.25em;
  font-size: 36px;
  color: white;
}
